h1
{
text-align:center;
background-color:gold;
}
h2
{
text-align:center;
background-color:lime;
h3
{
text-align:center;
}}
strong
{
color:red;
}
p
{
text-align:center;
color:blue;
}
body
{
background-image: url("th (1).webp");
background-repeat: no-repeat;
background-position: center;
background-size : cover;
padding: 20px;
}